In [ ]:
#pip install webdriver-manager

In [38]:
import os
from bs4 import BeautifulSoup
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.firefox.options import Options
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from webdriver_manager.firefox import GeckoDriverManager
import pandas as pd

options = Options()
options.add_argument("--headless")
driver = webdriver.Firefox(executable_path=GeckoDriverManager().install(),options=options)

In [50]:
#options = Options()
#options.add_argument("--headless 
driver = webdriver.Firefox(executable_path=GeckoDriverManager().install())

In [51]:
driver.get("https://www.naukri.com")

In [52]:
input_search=driver.find_element(By.XPATH, '/html/body/div[1]/div[7]/div/div/div[1]/div/div/div[1]/div[1]/div/input')
input_search.send_keys('Data Scientist')

In [53]:
button=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[6]').click()

In [54]:
df=pd.DataFrame({'Link':[''],'Name':[''],'Company_name':[''],'Experience':[''],'salary':[''],'location':['']})

In [55]:
df

  Link Name Company_name Experience salary location
0

In [58]:
while True:
    soup=BeautifulSoup(driver.page_source,'lxml')
    posting=soup.find_all('div',class_='srp-jobtuple-wrapper')
    for post in posting:
        link_element = post.find('a', class_='title')
        if link_element:
            link = link_element.get('href')
            Name = link_element.text
        else:
            link = ''
            Name = ''

        company_element = post.find('a', class_='comp-name mw-25')
        Company_name = company_element.text if company_element else ''

        experience_element = post.find('span', class_='expwdth')
        Experience = experience_element.text if experience_element else ''

        salary_element = post.find('span', class_='')
        salary = salary_element.text if salary_element else ''

        location_element = post.find('span', class_='ni-job-tuple-icon ni-job-tuple-icon-srp-location loc')
        location = location_element.text if location_element else ''

        new_row = {'Link': link, 'Name': Name, 'Company_name': Company_name, 'Experience': Experience, 'salary': salary, 'location': location}
        df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)
    try:
        next_page=driver.find_element(By.CSS_SELECTOR,'a.styles_btn-secondary__2AsIP:nth-child(4)')
        next_page.click()
        time.sleep(2) # for wait time -- for loading the data 
        
    except:
        break

In [59]:
df

,Link,Name,Company_name,Experience,salary,location
0,,,,,,
1,https://www.naukri.com/job-listings-senior-dat...,"Senior Data Scientist, Reporting",Coursera,6-7 Yrs,Not disclosed,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder..."
2,https://www.naukri.com/job-listings-data-scien...,"Data Scientist, Marketing",Coursera,4-6 Yrs,Not disclosed,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder..."
3,https://www.naukri.com/job-listings-data-scien...,Data Scientist,Ford,3-6 Yrs,Not disclosed,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C..."
4,https://www.naukri.com/job-listings-xoriant-is...,Xoriant is hiring Senior Generative AI Engineer !,Xoriant,5-10 Yrs,12-22 Lacs PA,"Hybrid - Pune, Maharashtra, Bangalore Rural, K..."
...,...,...,...,...,...,...
845,https://www.naukri.com/job-listings-senior-ass...,Senior Associate Data Science L2,Publicis,6-9 Yrs,Not disclosed,"Hybrid - Pune, Maharashtra, Gurgaon/ Gurugram,..."
846,https://www.naukri.com/job-listings-senior-ass...,Senior Associate Data Science L1,Publicis,4-6 Yrs,Not disclosed,"Hybrid - Pune, Maharashtra, Gurgaon/ Gurugram,..."
847,https://www.naukri.com/job-listings-walk-in-in...,WALK IN Interview AT Filix ECOM For DATA SCI E...,3G Soft Technologies,,1-3 Lacs PA,"Pune, Maharashtra"
848,https://www.naukri.com/job-listings-data-scien...,Data Scientist Consultant,,9-14 Yrs,80-90 Lacs PA,"Hybrid - Hyderabad, Telangana"
849,https://www.naukri.com/job-listings-data-scien...,Data Scientist Associate,,3-8 Yrs,35-50 Lacs PA,"Singapore, Canada, United States (USA)"

In [61]:
import numpy as np

In [62]:
df.replace('', np.nan, inplace=True)

In [64]:
df

,Link,Name,Company_name,Experience,salary,location
0,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.naukri.com/job-listings-senior-dat...,"Senior Data Scientist, Reporting",Coursera,6-7 Yrs,Not disclosed,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder..."
2,https://www.naukri.com/job-listings-data-scien...,"Data Scientist, Marketing",Coursera,4-6 Yrs,Not disclosed,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder..."
3,https://www.naukri.com/job-listings-data-scien...,Data Scientist,Ford,3-6 Yrs,Not disclosed,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C..."
4,https://www.naukri.com/job-listings-xoriant-is...,Xoriant is hiring Senior Generative AI Engineer !,Xoriant,5-10 Yrs,12-22 Lacs PA,"Hybrid - Pune, Maharashtra, Bangalore Rural, K..."
...,...,...,...,...,...,...
845,https://www.naukri.com/job-listings-senior-ass...,Senior Associate Data Science L2,Publicis,6-9 Yrs,Not disclosed,"Hybrid - Pune, Maharashtra, Gurgaon/ Gurugram,..."
846,https://www.naukri.com/job-listings-senior-ass...,Senior Associate Data Science L1,Publicis,4-6 Yrs,Not disclosed,"Hybrid - Pune, Maharashtra, Gurgaon/ Gurugram,..."
847,https://www.naukri.com/job-listings-walk-in-in...,WALK IN Interview AT Filix ECOM For DATA SCI E...,3G Soft Technologies,NaN,1-3 Lacs PA,"Pune, Maharashtra"
848,https://www.naukri.com/job-listings-data-scien...,Data Scientist Consultant,NaN,9-14 Yrs,80-90 Lacs PA,"Hybrid - Hyderabad, Telangana"
849,https://www.naukri.com/job-listings-data-scien...,Data Scientist Associate,NaN,3-8 Yrs,35-50 Lacs PA,"Singapore, Canada, United States (USA)"

In [71]:
df.to_csv('Naukri_data.csv', index=False)