In [ ]:
#pip install webdriver-manager

In [17]:
import os
from bs4 import BeautifulSoup
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.firefox.options import Options
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from webdriver_manager.firefox import GeckoDriverManager
import pandas as pd

options = Options()
options.add_argument("--headless")
driver = webdriver.Firefox(executable_path=GeckoDriverManager().install(),options=options)

In [18]:
#options = Options()
#options.add_argument("--headless 
driver = webdriver.Firefox(executable_path=GeckoDriverManager().install())

In [19]:
driver.get("https://www.naukri.com")

In [20]:
input_search=driver.find_element(By.XPATH, '/html/body/div[1]/div[7]/div/div/div[1]/div/div/div[1]/div[1]/div/input')
input_search.send_keys('Data Scientist')

In [21]:
button=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[6]').click()

In [22]:
soup=BeautifulSoup(driver.page_source,'lxml')
posting=soup.find_all('div',class_='srp-jobtuple-wrapper')

In [23]:
len(posting)

20

In [33]:
df=pd.DataFrame({'Link':[''],'Name':[''],'Company_name':[''],'Experience':[''],'salary':[''],'location':['']})

AttributeError: 'DataFrame' object has no attribute 'append'

In [26]:
df

  Link Name Company_name Experience salary location
0

In [35]:
for post in posting:
    link=post.find('a',class_='title').get('href')
    Name=post.find('a',class_='title').text
    Company_name=post.find('a',class_='comp-name mw-25').text
    Experience=post.find('span',class_='expwdth').text
    salary=post.find('span',class_='').text
    location=post.find('span',class_='ni-job-tuple-icon ni-job-tuple-icon-srp-location loc').text
    new_row = {'Link': link, 'Name': Name, 'Company_name': Company_name, 'Experience': Experience, 'salary': salary, 'location': location}
    df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)

In [37]:
df

,Link,Name,Company_name,Experience,salary,location
0,,,,,,
1,https://www.naukri.com/job-listings-senior-dat...,"Senior Data Scientist, Reporting",Coursera,6-7 Yrs,Not disclosed,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder..."
2,https://www.naukri.com/job-listings-data-scien...,"Data Scientist, Marketing",Coursera,4-6 Yrs,Not disclosed,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder..."
3,https://www.naukri.com/job-listings-data-scien...,Data Scientist,Ford,3-6 Yrs,Not disclosed,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C..."
4,https://www.naukri.com/job-listings-xoriant-is...,Xoriant is hiring Senior Generative AI Engineer !,Xoriant,5-10 Yrs,12-22 Lacs PA,"Hybrid - Pune, Maharashtra, Bangalore Rural, K..."
5,https://www.naukri.com/job-listings-genai-data...,GenAI Data Scientist,Ford,5-6 Yrs,Not disclosed,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C..."
6,https://www.naukri.com/job-listings-data-scien...,Data Scientist,HCLTech,10-18 Yrs,20-35 Lacs PA,"Hybrid - Noida, Uttar Pradesh, Hyderabad, Beng..."
7,https://www.naukri.com/job-listings-data-scien...,Data Scientist - Senior Associate - P&T Labs,PwC Service Delivery Center,4-6 Yrs,Not disclosed,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng..."
8,https://www.naukri.com/job-listings-sr-data-sc...,Sr. Data Scientist - ML Ops,Visa Inc,4-8 Yrs,Not disclosed,Bengaluru
9,https://www.naukri.com/job-listings-sr-data-sc...,Sr Data Scientist,IBM,4-8 Yrs,Not disclosed,Bengaluru
10,https://www.naukri.com/job-listings-data-scien...,Data Scientist,Tata Consultancy Services (TCS),6-8 Yrs,Not disclosed,"Bengaluru, Mumbai (All Areas)"
11,https://www.naukri.com/job-listings-lead-data-...,Lead Data Scientist,Hindustan Unilever (HUL),3-4 Yrs,Not disclosed,Mumbai
12,https://www.naukri.com/job-listings-manager-se...,Manager - Senior Data Scientist,Visa Inc,5-10 Yrs,Not disclosed,Mumbai
13,https://www.naukri.com/job-listings-senior-dat...,Senior Data Scientist,Uber,6-11 Yrs,Not disclosed,Bangalore/Bengaluru
14,https://www.naukri.com/job-listings-principal-...,"Principal, data scientist",Walmart,7-12 Yrs,Not disclosed,Bangalore/Bengaluru
15,https://www.naukri.com/job-listings-data-scien...,Data Scientist,Tech Mahindra,7-12 Yrs,Not disclosed,"Hybrid - Hyderabad, Telangana, Pune, Maharasht..."
16,https://www.naukri.com/job-listings-data-scien...,Data Science Lead,IKS HEALTH,6-11 Yrs,Not disclosed,Remote
17,https://www.naukri.com/job-listings-ds-nlp-exp...,DS - NLP Expert,Genpact,6-11 Yrs,Not disclosed,"Hyderabad, Telangana, Gurugram, Haryana, Banga..."
18,https://www.naukri.com/job-listings-generative...,Generative AI Expert,Genpact,8-13 Yrs,Not disclosed,"Hyderabad, Gurugram, Bengaluru"
19,https://www.naukri.com/job-listings-data-scien...,Data Scientist,Nestle,2-4 Yrs,Not disclosed,Bangalore/Bengaluru
20,https://www.naukri.com/job-listings-senior-dat...,"SENIOR, DATA SCIENTIST",Walmart,1-5 Yrs,Not disclosed,Bangalore/Bengaluru

In [ ]:
link=driver.find_element_by_link_text("Analytics")

In [ ]:
link.click()

# link_texts = ["Analytics", "Data Science"]

# List to store found link elements
found_elements = []

# Iterate over the list of link texts
for link_text in link_texts:
    try:
        # Find the link element by its text
        link_element = driver.find_element_by_link_text(link_text)
        found_elements.append(link_element)
        print(f"Found link with text: {link_text}")
    except NoSuchElementException:
        print(f"Link with text '{link_text}' not found")

# Now you have a list of found link elements
print("Found elements:", found_elements)

In [ ]:
def scrape_glassdoor_jobs(keyword, num_pages, verbose=False):
    for page_num in range(num_pages): #This line starts a loop that iterates through a range of page numbers, where num_pages is the total number of pages to scrape.
        if verbose:      #If the verbose flag is set to True, it prints a message indicating which page is currently being scraped.
                print(f"Scraping page {page_num + 1} of {num_pages}")
        try:
            element = WebDriverWait(driver, 10).until(
            EC.presence_of_all_elements_located((By.CSS_SELECTOR, ['data-job-id']))
            )
            job_ids = [element.get_attribute("data-job-id") for element in element]
            print(job_ids)  # You can use job_ids for further processing
            #element.click()
        except:
            driver.quit()

In [ ]:
if __name__ == "__main__":
    # Replace with your desired arguments
    keyword = "Analytics"
    num_pages = 5
    #path_to_chromedriver = "/path/to/chromedriver"  # Replace with your path

    job_ids = scrape_glassdoor_jobs(keyword, num_pages, verbose=True)
    print(job_ids)